*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: cadetblue;
}
.main{
    width: 30vw;
    text-align: center;
}
.topic {
    margin-top: 10vh;
    margin-bottom: 4rem;
    background-color: azure;
    border-radius: 4px;
    padding: 4px;
}
.head{
    font-family: "Great Vibes", cursive;
    color: deeppink;
}
.question-btn {
    font-size: 1rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    color: black;
    display: flex;
    justify-content: space-between;
    /* width: 5vw; */
}
.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.answer {
    padding: 1rem 0 1.5rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    background-color: aquamarine;
}
.plus-icon{
    border: 1px solid black;
    padding: 1px 4px;
}
.minus-icon{
    border: 1px solid black;
    padding: 1px 4px;
}
.answer{
    display: none;
}
.content .answer {
    display: block;
}
.minus-icon {
    display: none;
}
.content .minus-icon {
    display: inline;
}
.content .plus-icon {
    display: none;
}